body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6dd5ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 70px; /* Space for fixed header */
}

header {
    background-color: #1d521f3d;
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration:wavy;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: #333;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
    
}

input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: white;
    cursor:zoom-out;
    font-family: 'Times New Roman', Times, serif;
}

input[type="submit"] {
    background-color: #1e0a55;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor:grab;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]:hover {
    background-color: #e64a19;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #fff;
    background-color: #973010;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-block-end: 50px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    margin-bottom: 0px;
    background-color: #20194600;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position:relative;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   
}
